/* .piece {
  display: none;
  width: 10%;
  height: auto;
}

.piece-position {
  display: block;
  position: absolute;
}

.position-a8 {
  display: block;
  position: absolute;
  top: 6.25%;
  left: 6.25%;
  transform: translate(-50%, -50%);
}

.position-b8 {
  display: block;
  position: absolute;
  top: 6.25%;
  left: 18.75%;
  transform: translate(-50%, -50%);
} */
